.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.header ul{
    margin: 0;
    padding: 0;
}
.header ul li{
    list-style: none;
    display: inline-block;
}
.header ul li a{
    text-decoration: none;
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    color: #565673;
    padding: 0 10px;
}
.textTitle {
    margin: 10px;
}